body{
    background-image: url(java-developer.jpg);
}
.titulo{
    margin-top: 100px;
    display:flex;
    justify-content: center;
    text-align: center center;
    color: white;
}
.header{
background-color: blue;
height: 50px;
display: flex;
justify-content: space-between;
justify-content:center;
align-items: center;
}
.botoncv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 100px;
    background-color: red;
}
.nav-item:hover {
    background-color: #ddd;  /* Fondo gris claro */
    transform: translateY(-3px);  /* Levanta el texto ligeramente */
    border-radius: 5px;  /* Bordes redondeados para suavizar */
}
h2{
    order: -1;
}